@import '../../general/variables.scss';

.home-callback {
	position: relative;
	z-index: 1;
	background-color: $deep;
	padding: 50px 0;
	color: $dark-header;
	font-family: 'Raleway', 'sans-serif';
}


.home-callback__header {
	position: relative;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 30px;

	&::after {
		content: '';
		position: absolute;
		width: 30%;
		height: 1px;
		background-color: $dark-div;
		left: 0;
		bottom: -20px;
	}

	@media (max-width:992px) {
		display: none;
	}
}


.home-callback__list {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;

	@media (max-width:992px) {
		display: none;
	}

}


.home-callback__list>* {
	display: inline-block;
	width: 32%;
	margin-bottom: 7px;

	@media(max-width: 1200px) {
		width: 49%;
	}
}


.home-callback__list span {
	font-family: 'Roboto', 'sans-siref';
	margin-right: 5px;
	font-weight: 700;
}


.home-callback__text-right {
	text-align: right;

	@media (max-width:992px) {
		text-align: center;
	}
}


.home-callback__text-right p {
	font-size: 14px;
	line-height: 1.65;
}


.phone-big {
	font-size: 28px;
	font-family: "Roboto", 'sans-serif';
	line-height: 1;
	color: $text;
	font-weight: 300;
	text-decoration: none;

	&:hover {
		color: $text;
	}
}


.home-callback__phone {
	color: $white;

	&:hover {
		color: $white;
	}

	@media (max-width:992px) {
		display: block;
	}
}


.home-callback__button {
	margin-top: 20px;
}
