@import '../../general/variables.scss';

.page-title__title {
	color: $text;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	display: block;
	text-align: center;
	margin: 0;
	margin-bottom: 25px;
	margin-top: 70px;
	text-transform: uppercase;
}


.page-title__desc {
	font-weight: 400;
	font-size: 15px;
	text-align: center;
	display: block;
	line-height: 25px;
	color: $text-light;
	margin-bottom: 50px;
}