@import '../../general/variables.scss';

.adress-line {
	color: $address;
	font-size: 14px;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&::before {
		content: '';
		display: inline-block;
		width: 12px;
		height: 15px;
		background-image: url('../../svg/mapmarker.svg');
		background-position: center;
		background-repeat: no-repeat;
		margin-right: 8px;
		position: relative;
		top: 1.4px;
	}
}