@import '../../general/variables.scss';

.projescts__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 70px;
	grid-gap: 20px;
}


.projescts-page__item {
	text-align: center;
}


.projescts-page__item:hover .projescts-page__item--hover {
	opacity: .98;
}


.projescts-page__item-wrapper {
	position: relative;
}


.projescts-page__item--hover {
	position: absolute;
	background-color: $white;
	width: 90%;
	height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media(max-width:768px) {
		display: none;
	}
}


.projescts-page__item--hover span {
	font-weight: 400;
	font-size: 13px;
	line-height: 170%;
	color: #999999;
	margin-bottom: 5px;

	@media(max-width:768px) {
		font-size: 10px;
	}
}


.projescts-page__item--hover h4 {
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	color: $text;
	text-transform: uppercase;
	margin-bottom: 15px;

	@media (max-width: 992px) {
		font-size: 12px;
	}
}


.projescts-page__hover--link {
	font-weight: 800;
	font-size: 15px;
	line-height: 170%;
	color: #999999;

	&:hover {
		color: #999999;
	}
}


.projescts-page__item-link img {
	width: 100%;
}


.projescts-page__item:nth-child(1) {
	grid-row: 1/2;
	grid-column: 1/1;
}


.projescts-page__item:nth-child(3) {
	grid-column: 3;
	grid-row: 1/2;
}


.projescts-page__item:nth-child(6) {
	grid-column: 1/1;
	grid-row: 2/2;
}


.projescts-page__item:nth-child(7) {
	grid-column: 3;
	grid-row: 1/2;
	align-self: end;
}


.projescts-page__item:nth-child(4) {
	grid-column: 1/1;
	grid-row: 1/2;
	align-self: end;
}


.projescts-page__item:nth-child(5) {
	grid-column: 2/2;
	grid-row: 2/2;
}


.projescts-page__item:nth-child(9) {
	grid-column: 2/2;
	grid-row: 2/2;
	align-self: end;
}