@import '../../general/variables.scss';

.company-blogs__pagination {
	margin: 45px 0 70px 0;
}


.company-blogs__pagination-list {
	display: flex;
	padding-left: 0;
	list-style: none;
	justify-content: center;
}


.company-blogs__pagination--prev {
	color: #C4C4C4;
	margin-right: 20px;
	text-decoration: none;

	&:hover {
		color: $accent;
		text-decoration: underline;
	}
}


.company-blogs__pagination--number {
	color: #666666;
	margin-right: 20px;
	text-decoration: none;
	padding: 10px;


	&:hover {
		color: $white;
		background-color: $accent;
		border-radius: $radius-style;
	}
}


.pagination--number__active {
	color: $white;
	background-color: $accent;
	border-radius: $radius-style;
}


.company-blogs__pagination--next {
	color: $accent;
	text-decoration: underline;
	margin-right: 20px;

	&:hover {
		color: $accent;
	}
}