@import '../../general/variables.scss';

.footer {
	background-color: $deep;
	color: $white;
	padding: 70px 0;
}


.footer__desc-wrapper {
	@media(max-width:768px) {
		text-align: center;
	}
}


.footer__logo {
	line-height: 1.3;
	font-size: 17px;
	white-space: nowrap;
	opacity: .5;
	margin-bottom: 40px;
}


.footer__logo-link {
	text-decoration: none;
	text-transform: uppercase;
	color: $white;
	font-weight: bold;
	letter-spacing: 0.75px;

	&:hover,
	&:focus,
	&:active {
		color: $white;
		text-decoration: none;
	}
}


.footer__logo-link span {
	display: block;
	text-transform: none;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 4.3px;
	opacity: 0.45;
	margin-left: 22px;
}


.footer__logo-link i {
	width: 15px;
	height: 15px;
	position: relative;
	border: 1px solid $white;
	display: inline-block;
	border-radius: $radius-style;
	margin-right: 7px;
	top: 3px;
}


.footer__desc-title {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 20px;
}


.footer__desc-text,
.footer__social-desc {
	opacity: 0.7;
	font-size: 13px;
	line-height: 22px;
	font-weight: 400;
	display: inline-block;
	width: 74%;
}


.footer__menu-title,
.footer__services-title,
.footer__social-title {
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 21px;
	margin-bottom: 20px;

	&::after {
		content: '';
		position: absolute;
		height: 3px;
		width: 25px;
		background-color: $accent;
		bottom: 0;
		left: 0;
	}

	@media(max-width: 768px) {
		margin-top: 30px;
		text-align: center;

		&::after {
			display: none;
		}
	}
}


.footer__menu {
	position: relative;

	@media(max-width:768px) {
		&::after {
			content: '';
			position: absolute;
			width: 93%;
			height: 1px;
			background-color: $accent;
			bottom: 0;
			left: 12px;
		}
	}
}


.footer__services {
	@media(max-width:768px) {
		display: none;
	}
}



.footer__menu-list,
.footer__services-list {
	list-style: none;
	padding: 0;
	margin: 0;

	@media(max-width: 768px) {
		display: flex;
		justify-content: space-between;
	}
}



.footer__menu-item,
.footer__services-item {
	margin-bottom: 10px;
}


.footer__menu-link,
.footer__services-link {
	padding: 7px 15px 7px 0;
	color: $white;
	text-decoration: none;

	&:hover {
		color: $accent;
		text-decoration: underline;
	}

	@media(max-width:768px) {
		padding: 7px 9px 7px 0;
	}
}


.footer__social-wrapper {
	margin-top: 35px;
}


.footer-social__link {
	margin-right: 12px;
	padding: 12px;
	width: 40px;
	height: 40px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: $radius-style;

	&:hover {
		background-color: $accent;
	}

	@media(max-width:1200px) {
		padding: 7px 7px 9px 7px;
	}

	@media(max-width:992px) {
		width: 25px;
		height: 25px;
		padding: 5px 5px 7px 5px;
		margin-right: 6px;
	}
}


.footer-social__link:hover .footer-social__icon {
	opacity: 1;
}


.footer-social__icon {
	width: 100%;
	max-width: 20px;
	display: inline-block;
	opacity: 0.5;
	fill: $white;

	&:hover {
		opacity: 1;
		transition: opacity $transition;
	}
}


.footer__social {
	@media(max-width:768px) {
		text-align: center;
	}
}